{% extends 'login_layout.html.twig' %}

{% block title %}Login | Meeco{% endblock %}

{% block login_box_error %}
    {% if error|default(false) %}
        <div class="text text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block login_form %}
    <form method="post">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form-group has-feedback">
            <input type="text" name="email" class="form-control" placeholder="Email" value="{{ last_username }}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input name="password" type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-block btn-gradient" type="submit">Login</button>
    </form>
{% endblock %}

{% block login_actions %}
    <br>
    <div>
        <a href="{{ path('adminlte_registration'|route_alias) }}" class="text-left">
            Create account
        </a>

        <a href="{{ path('adminlte_password_reset'|route_alias) }}" style="float: right">
            {{ 'Forgot password?'|trans({}, 'AdminLTEBundle') }}
        </a>
    </div>
{% endblock %}
